// Color Styles
$dark-background: #15202B;

$box-bg-gray: #1B2737;

$text-gray: #8899A6;
$text-dark-gray: #8292A5;
$text-muted-gray: #596A7D;
$gray-sub-text: #90AABC;

$sky-blue: #1DA1F2;
$lime-green: #37FF9F;
$salmon: #F4816A;
$bright-orange: #F6974C;
$main-red: #F45959;
$main-yellow: #EEDC34;
$main-purple: #A670FF;
$dark-sky-blue: #264763;

$input-gray: #1B2737;
$input-dark-blue: #243447;
$input-light-blue: #222F41;
$stroke-gray: #344860;

$sky-blue-opaque-bg: rgba(29, 161, 242, 0.15);
$main-red-opaque-bg: rgba(244, 89, 89, 0.15);
$lime-green-opaque-bg: rgba(55, 255, 159, 0.15);
$orange-opaque-bg: rgb(246, 151, 76, 0.15);

// Socials
$discord: #7289DA;
$twitch: #6441A5;
