<div class="loading-spinner-container">
  <div class="loadingio-spinner-double-ring-qu5bizdn97m" *ngIf="type == 'double-circle'">
    <div class="ldio-ujxf4gdwtrr">
      <div></div>
      <div></div>
      <div><div></div></div>
      <div><div></div></div>
    </div>
  </div>
  <div *ngIf="type == 'pacman'" class="loadingio-spinner-bean-eater-47vhr2yq1uw">
    <div class="ldio-dg2sq5oh9yp">
      <div><div></div><div></div><div></div></div><div><div></div><div></div><div></div></div>
    </div>
  </div>
  <div *ngIf="type == 'single-circle'" class="lds-ring"><div></div><div></div><div></div><div></div></div>
</div>
